@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.appbar {
    padding: 1svh 0 0 0.8svw;
    background:radial-gradient(62.87% 100% at 50% 100%, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 100%);
    position: sticky;
    width: 99%;
    top: 0px;
    transition: 0.3s linear;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    z-index: 40;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 0;
    backdrop-filter: blur(6px);
}


.app-content{
    align-items: center;
    justify-content:space-between;
}

.app-content .rowflex,.tile h1{
    background-image: linear-gradient(135deg, color(display-p3 .6196078431 .4784313725 1 / 1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333 / 1) 33.33%, color(display-p3 1 .7411764706 .4784313725 / 1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824 / 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.app-content .rowflex:hover{
    transform: scale(1.05);
    text-shadow: 0 0 15px #be7ff1a2;
}

.app-content h3{
    font-size:38px;
    margin: 1.3svh;
    font-family: "Great Vibes", cursive;
    font-weight: 800;
}
.tab-list {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    text-transform: uppercase;
}

.tab-item {
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--text-white);
    position: relative;
}

.tab-item::after{
    content:'';
    position:absolute;
    left:50%;
    top:0;
    width:0;
    height:2px;
    background:var(--tab-color);
    transition: width .5s;
}

.tab-item:hover:after,.tab-item.active::after{
    width:100%;
    left: 0;
}

.tab-item.active,.tab-item:hover {
    color: var(--tab-color);
} 

/* divider */
.divider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:1svh;
}

.divider {
    height: 1px;
    width: 100%;
}

.gradient-left {
    background: linear-gradient(to right, var(--empty), var(--primary), var(--secondary));
}

.gradient-right {
    background: linear-gradient(to right, var(--secondary), var(--empty));
}

/* sidebar */
.hamburger,.close-icon{
    font-size: 24px;
    font-weight:bolder;
    cursor: pointer;
    color: var(--text-white);
    margin-right:2svw;
}
.hamburger {
    display: none;
    color:var(--tab-color);
    padding: 10px;
}

.close-icon {
    text-align: right;
    padding-right: 4svw;
    margin-top: 2vh;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: rgba(41, 9, 82, 0.4);
    color: var(--text-white);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.4);
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    display: block;
    right: 0; 
}

.sidebar-tabs {
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 2svh 0;
    display: flex;
    gap: 1vh;
}

.sidebar-item {
    padding: 15px;
    cursor: pointer;
    color: var(--text-white);
    font-weight: bold;
}

.sidebar-item:hover,
.sidebar-item.active {
    color: var(--secondary);
    /* text-decoration: underline; */
    border-bottom:2px solid var(--secondary)
}

.sidebar-item.active {
    color: var(--tertiary);
    border-bottom:2px solid var(--tertiary)
}

@media (max-aspect-ratio: 1/1) {
    .tab-list {
        display: none; 
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 1000px) {
    .app-content h3 {
        font-size: 26px;
    }
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
