
.main-container {
    margin: 0;
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--scroll-bar) var(--empty);
  }

.rowflex{
display:flex;
flex-direction: row;
}
.colflex{
    display: flex;
    flex-direction: column;
}

section {
    position: relative; 
    z-index: 1; 
}
#contact .section{
    margin-bottom:0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* 
.blur-background {
    background-image: url('../assets/bgcode.webp');
    position: absolute;
    top: 10svh;
    left: 10vw;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 85%;
    opacity: 0.3;
    z-index: 1;
} */

@media (max-width: 768px) {
    .section {
        padding: 15px;
        height:auto
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .section {
        padding-left:0;
        margin-top: 15px;
        height:auto;
        margin-bottom:0
    }
    .section-header{
        margin-bottom:3svh;
    }
    .section h2 {
        font-size: 1rem;
    }

    .section p {
        font-size: 0.85rem;
    }
    .glow-container{
        width: 70svw;
        height: 18svh;
    }
    .exp-card{
        margin-top:-10vh;
        margin-left:12svw
    }
    .feature{
        height:50svw
    }
    .hamburger{
        margin-right:4svw
    }
    .rowflex img,.arrow{
        display:none;
    }
    .vertical-timeline{
        padding-top: 4em !important;
        margin:0 2em !important;
        max-width:80svw !important
    }
    .vertical-timeline-element-icon {
        left: -10px !important;
    }
    .project-block{
        grid-template-columns: repeat(1,1fr);
        margin-top:0;
    }
    .contact-block{
        gap:0;
    }
    .content-block{
        margin-top:0;
        grid-template-columns: repeat(1,1fr);
    }
    .content-block .tile{
        width:80svw;
        padding: 0svh 2svw;
    }
    .content-block .tile:first-child{
        order:2
    }
    .content-block h2{
        font-size:1.5rem
    }
    .terminal{
        width:80svw;
        min-height: 10svh;
    }
    .output{
        height:4svh;
    }
}
