
.main-container {
    margin: 0;
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-top:10svh;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #7c3aed30 transparent;
  }

.rowflex{
display:flex;
flex-direction: row;
}
.colflex{
    display: flex;
    flex-direction: column;
}
.section {
    
    display:flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    padding-top: 2svh ;
    height:88svh;
    /* margin-top:10vh */
}

.tab-content{
    position:relative;
    height:auto;
    
}
.tab-content section {
    position: relative; 
    z-index: 1; 
    /* top:10vh */
  }

.blur-background {
    /* background-image: url('../assets/bgcode.webp'); */
    position: absolute;
    /* width: 75vw; */
    top: 10svh;
    left: 10vw;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 85%;
    opacity: 0.3;
    z-index: 1;
}


@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

.glow-container {
    --gap: 15px;
    --blur: 9px;
    --spread: 30px;
    --direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 85vw; */
    margin-top:4svh;
    position: relative; 
   z-index: 2; 
}
.glow-container h4{
    color:#2ffcad;
    text-align: center;
}
.glow-container h2{
    font-weight: 100;
}
.glow-card {
    position: relative;
    background-color: #101123;
    color: #e6e5e5;
    border: 2px solid #2a2e5a;
    border-radius: 12px;
    transition: all 0.3s;
    overflow: hidden;
    width:25svw;
    box-shadow: 0 0 var(--blur) rgba(143, 103, 255, 0.3);
    /* text-align: center; */
    padding-left: 1.5svw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}


@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

.glow-card:hover {
    border-color: transparent;
    box-shadow: 0 0 var(--blur) rgba(166, 131, 247, 0.5), 0 0 var(--spread) #4f338f;
}


@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .section {
        padding: 15px;
        height:auto
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 5px;
    }
    .section {
        padding-left:0;
        margin-top: 15px;
        height:auto
    }
    .section-header{
        margin-bottom:3svh;
    }
    .section h2 {
        font-size: 1rem;
    }

    .section p {
        font-size: 0.85rem;
    }
    .glow-card{
        width: 70svw;
        height: 18svh;
    }
    .exp-card{
        margin-top:-10vh;
        margin-left:12svw
    }
    .feature{
        height:50svw
    }
    .hamburger{
        margin-right:2svw
    }
    .rowflex img{
        display:none;
    }
    .vertical-timeline{
        padding-top: 4em !important;
        margin:0 2em !important;
        max-width:80svw !important
    }
    .vertical-timeline-element-icon {
        left: -10px !important;
    }
    .project-block{
        grid-template-columns: repeat(1,1fr);
        margin-top:0;
    }
    .contact-block{
        gap:0;
    }
    .content-block{
        grid-template-columns: repeat(1,1fr);
    }
    .content-block .tile{
        width:80svw
    }
    .content-block .tile:first-child{
        order:2
    }
    .content-block h2{
        font-size:1.5rem
    }
    .terminal{
        width:80svw;
        min-height: 10svh;
    }
    .output{
        height:4svh;
    }
}

/* 
.grid {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  } */