body {
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgcolor);
  color:var(--text-white);
  /* overflow: hidden; */
  cursor: none; 
  scrollbar-width: thin;
}

:root {
  --primary:#ec4899;
  --secondary:#7c3aed;
  --text-dark:#000000;
  --text-white:color(display-p3 .9411764706 .9333333333 .9764705882 / .8);
  --tab-color:#8a50ee;
  --tertiary:#eb79b2;
  --heading:#2ffcad;
  --bgcolor:#030014;
  --button-color:rgba(153, 131, 250, 0.658);
  --title-color:#fff;
  --icon-color:color(display-p3 .6196078431 .4784313725 1 / 1);
  --empty:transparent;
  --border:#0173AA;
  --scroll-bar:#7c3aed30;
  --social-bg: #53298a7c;

}
  
.main-container::-webkit-scrollbar {
  width: 12px; 
  z-index:99;
}

.main-container::-webkit-scrollbar-track {
  background: var(--empty);
}

.main-container::-webkit-scrollbar-thumb {
  background-color:var(--scroll-bar);
  border-radius: 6px; 
  border: 2px solid var(--empty);
}

.main-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar);
}

