.contact-content{
  display: flex;
  align-items: center;
  position: relative; 
  z-index: 2; 
  writing-mode: vertical-rl;
text-orientation: upright;
}
.contact-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 50vw;
    bottom: 0;
    background-image: url('../assets/bg1.svg');
    background-size: cover; 
    background-position: center;
    filter: blur(10px);
    z-index: 1;
}
#contact .section-header{
    display:flex;
    align-items: center;
    position: relative; 
    z-index: 2; 
}
.contact-block{
    margin-top:2vh;
    display:grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
}

.tile{
    width:40vw;
    padding: 3vh 2vw;
    border-radius: 32px;
    border: 1px solid rgba(22, 119, 255, 0.16);
}

.social-icons{
    display:flex;
    gap:1vw;
    cursor:pointer;
    font-weight: bold;
}