
.main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-top:10vh;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #7c3aed30 transparent;
  }


.section {
    
    display:flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    padding-top: 2vh ;
    height:88vh;
    /* margin-top:10vh */
}
.tab-content{
    position:relative;
    height:auto
}
.tab-content section {
    position: relative; 
    z-index: 1; 
    /* top:10vh */
  }

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/about-bg.jpg');
    background-size: cover; 
    background-position: center;
    filter: blur(3px);
    z-index: 1;
}

.glow-container {
    --gap: 15px;
    --blur: 9px;
    --spread: 30px;
    --direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top:4vh;
    position: relative; 
   z-index: 2; 
}

.glow-card {
    position: relative;
    background-color: #101123;
    color: grey;
    border: 2px solid #2a2e5a;
    border-radius: 12px;
    transition: all 0.3s;
    overflow: hidden;
    width:80vw;
    cursor: pointer;
    box-shadow: 0 0 var(--blur) rgba(143, 103, 255, 0.3);
    text-align: center;
}

.glow-card:hover {
    border-color: transparent;
    box-shadow: 0 0 var(--blur) rgba(166, 131, 247, 0.5), 0 0 var(--spread) #4f338f;
}


@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .section {
        padding: 15px;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 5px;
    }

    .app-content h3{
        font-size:20px;
    }
    .section {
        padding: 10px;
        margin-top: 15px;
    }

    .section h2 {
        font-size: 1.3rem;
    }

    .section p {
        font-size: 1rem;
    }
}
